body {
	background: #1A1A1A;
	
	* {
		box-sizing: border-box;
	}
	
}

header {
	overflow: hidden;
	padding: 0 15px;
	table-layout: fixed;
	display: table;
	width: 100%;

	& > * {
		width: 33.333%;
		display: table-cell;
		vertical-align: middle;
	}

	.left {
		text-align: left;
	}

	.center {
		text-align: center;
	}

	.right {
		text-align: right;
	}

	img {
		max-width: 200px;
		height: auto;
	}

}

#editor { 
	position: absolute;
	top: 85px;
	right: 0;
	bottom: 0;
	left: 0;
}